#modal_department.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{style: "margin-top: 100px; width:400px; z-index: 9999999999;"}
    = form_tag(office_park_equipments_path, :method => 'post')
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#modal_department.modal-title
      .modal-body
        .form-group
          Отметьте нужные отделы для добавления в вашу организацию
          - @departments_all.each do |department|
            %table.table.table-striped
              %tr
                %td
                  = department.name
                  = hidden_field_tag :department_id, department.id
                  = hidden_field_tag :org_id, org_id
                  -#= hidden_field_tag :branch_id, branch_id

                %td
                  = check_box_tag :check, name: "check"
                  =hidden_field_tag :act, "add_departments"
          = submit_tag "Добавить отделы"
          -#= form_for @departments, url: office_park_equipments_path, :method => 'post' do |f|