#modal_office.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{style: "margin-top: 100px; width:400px; z-index: 9999999999;"}
    = form_tag(park_equipments_path, :method => 'get'  ) do
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#modal_office.modal-title
        .modal-body

          .form-group
            = label_tag :number, "Номер или название кабинета"
            %br
            = text_field_tag :number, nil, {:class => "email form-control input-lg", placeholder: "Название кабинета", :autofocus => true}
            -#, class: "form-control", placeholder: "Название кабинета"

          .form-group
            .row
              .col
                = label_tag :floor, "Этаж"
                = select_tag :floor, "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe, class: "form-control"
              -#options_for_select(set_number_floor(10))
              .col
                = label_tag :block, "Корпус"
                = select_tag :block, "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe, class: "form-control"
          -#options_for_select(set_number_floor(10))

          .form-group
            = label_tag :branches_department, "Филиал"
            %br
            = select_tag :branches_department, "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe, class: "form-control"


          -#options_from_collection_for_select(@branch, "id", "name"), prompt_text: "Отдел"
          = hidden_field_tag :act, 'create'
          = submit_tag "Сохранить"



        -#= form_tag create_office_park_equipments_path, method: :post, class: "well form-horizontal"  do
        -#  .modal-content
        -#    .modal-header
        -#      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        -#        %span{"aria-hidden" => "true"} ×
        -#      %h4#myModalOffice.modal-title Создайте кабинет
        -#    .modal-body
        -#      -#= form_tag create_office_park_equipments_path, method: :post, class: "well form-horizontal"  do
        -#        %fieldset
        -#      .form-group
        -#        %label{:for => "number"} Номер или название кабинета
        -#        .input-group
        -#          %span.input-group-addon
        -#          = text_field_tag 'office[number]', nil, {:class => "email form-control input-lg", placeholder: "Название кабинета", :autofocus => true}
        -#
        -#      .form-group
        -#        .row
        -#          .col
        -#            %label{:for => "floor"} Этаж
        -#            .input-group.input-group-lg
        -#              %span.input-group-addon
        -#              = select_tag 'office[floor]', "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe
        -#              -#options_for_select(set_number_floor(10))
        -#          .col
        -#            %label{:for => "block"} Корпус
        -#            .input-group.input-group-lg
        -#              %span.input-group-addon
        -#              = select_tag 'office[block]', "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe
        -#              -#options_for_select(set_number_floor(10))
        -#
        -#      .form-group
        -#        %label{:for => "branches_department"} Отдел
        -#        %span.input-group-addon
        -#          = text_field_tag 'office[branches_department_id]', placeholder: "ID отдела"
        -#
        -#      .form-group
        -#        %label{:for => "branch_id"} Отдел
        -#        %span.input-group-addon
        -#          = select_tag 'office[branch_id]', "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe
        -#          -#options_from_collection_for_select(@branch, "id", "name"), prompt_text: "Отдел"
        -#
        -#    .form-actions
        -#      %button.btn.btn-block.btn-lg.btn-danger{:type => "submit"}
        -#        %span.small-circle
        -#          %i.fa.fa-caret-right
        -#        %small Сохранить

