#modal_branch.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "#modal_branch", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{style: "margin-top: 100px; width:400px; z-index: 9999999999;"}
    = form_for Branch.new, url: {action: "create_branch"}, method: 'post' do |f|
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#modal_branch.modal-title
        .modal-body

          = f.label :short_name, "Сокращенное название филиала"
          = f.text_field :short_name
          %br
          = f.label :full_name, "Полное название филиала"
          = f.text_field :full_name
          %br
          = f.label :senior_phone, "Контактный телефон"
          = f.text_field :senior_phone
          %br
          = f.label :address, "Почтовый адрес"
          = f.text_field :address
          = f.hidden_field :organization_id, :value => org_id
          %br
        = f.submit "добавить филиал"
