#modal_department.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "#modal_department", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{style: "margin-top: 100px; width:400px; z-index: 9999999999;"}
    = form_for BranchesDepartment.new, url: {action: "create_department"}, method: 'post' do |f|
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#modal_office.modal-title
        .modal-body
          .form-group
            = f.label :branch_id, "Выберите филиал(организацию, если нет филиалов)"
            = f.select :branch_id, options_from_collection_for_select(find_branches,  "id", "short_name")
          .form-group
            = f.label :department_id, "Выберите отдел для добавления"
            = f.select :department_id, options_from_collection_for_select(Department.all, "id", "name")
          .form-group
            = f.submit "добавить филиал"