%header.page-header
  .navbar
    %ul.nav.navbar-nav.navbar-right.pull-right
      - if user_signed_in?
        = render 'shared/all_icons_user'
        %li.divider

        %li.hidden-xs.dropdown
          -#%a#account.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "Account"}
          %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", :title => "Account", "data-toggle" => "dropdown", :type => "button"}
            -#= current_user.fio
            %i.fa.fa-user
            = current_user.fio
          %ul#account-menu.dropdown-menu.account{:role => "menu"}
            -#%li.account-picture{:role => "presentation"}
            -#  %img{:alt => "", :src => "http://demo.flatlogic.com/3.2/white/img/2.jpg"}/
            -#  Philip Daineka
            %li{:role => "presentation"}
              %a.link{:href => "form_account.html"}
                %i.fa.fa-user
                Profile
            %li{:role => "presentation"}
              %a.link{:href => "component_calendar.html"}
                %i.fa.fa-calendar
                Calendar
            %li{:role => "presentation"}
              %a.link{:href => "#"}
                %i.fa.fa-inbox
                Inbox

            - if current_user.has_role? :admin
              %li{:role => "presentation"}
                = link_to admin_park_equipments_path do
                  %i.fa.fa-inbox
                  Справочники
            %li{:role => "presentation"}
              = link_to destroy_user_session_path, :method => :delete do
                %i.fa.fa-sign-out
                Выход


        -#%li
        -#= link_to destroy_user_session_path, :method => :delete, class: "btn btn-danger" do
        -#  %i.fa.fa-sign-out
        -#  Выход

      - else

        = link_to "#", class: "btn btn-primary", "data-target" => "#myModalEnter", "data-toggle" => "modal" do
          %i.fa.fa-user.fa-lg
          Вход в систему
        %li.divider




    -#нотификация
    -#.notifications.pull-right
      -#.alert.pull-right
      -#  %a.close.ml-xs{"data-dismiss" => "alert", :href => "#"} ×
      -#  %i.fa.fa-info-circle.mr-xs
      -#  Check out Light Blue
      -#  %a#notification-link{:href => "#"} settings
      -#  on the right!
