= render 'menu'
.form-control
  = form_tag(add_office_park_equipments_path, method: 'get') do
    = label_tag :branch_id, "Выберите филиал"
    = select_tag :branch, options_from_collection_for_select(find_branches, :id, :short_name)
    -#= f.label :dep, "Выберите отдел:", id: "label_dep"
    = grouped_collection_select(:department, :branch_id, find_branches, :departments, :short_name, :id, :name)
    -#= f.label :number, "Номер кабинета"
    = text_field_tag :number
    -#= f.label :floor
    = text_field_tag :floor
    -#= f.label :block, "Корпус"
    = text_field_tag :block
    = submit_tag "добавить кабинет"

