=render 'menu'
= form_tag(create_office_park_equipments_path, :method => 'post'  ) do
  .form-group
    = label_tag :number, "Номер или название кабинета"
    %br
    = text_field_tag :number
    -#, class: "form-control", placeholder: "Название кабинета"

  .form-group
    .row
      .col
        = label_tag :floor, "Этаж"
        = select_tag :floor, "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe, class: "form-control"
      -#options_for_select(set_number_floor(10))
      .col
        = label_tag :block, "Корпус"
        = select_tag :block, "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe, class: "form-control"
  -#options_for_select(set_number_floor(10))

  .form-group
    = label_tag :branches_department, "Филиал"
    %br
    = select_tag :branches_department_id, "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe, class: "form-control"


  -#options_from_collection_for_select(@branch, "id", "name"), prompt_text: "Отдел"
  = submit_tag "Сохранить"




