= render 'menu'

= render 'shared/modal_branch'
= render 'shared/modal_department'


= set_organization(current_user.id)
%br
-if @office_branch.present?
  =@office_branch
-if @branch_department_id.present?
  =@branch_department_id.each do |d_b|
    =d_b.department_id
    %br

%br
-if find_branches.present?
  -unless branch_only_one(org_id)
    = link_to "add branch", "#modal_branch", class: "btn btn-primary", "data-toggle" => "modal"

    = link_to "add dep", "#modal_department",class: "btn btn-primary", "data-toggle" => "modal"

    = link_to "add office", add_office_park_equipments_path, class: "btn btn-primary"


    %br
    Филиалы для #{set_organization(current_user.id)}:
    %br
    -find_branches.each do |branch|
      =branch.short_name
      %br
      .well-sm
        -find_departments(branch.id).each do |department|
          =department.name
          %br
          .well-lg
            -find_offices(branch.id, department.id).each do |office|
              - if office.is_deleted != true
                =link_to  "#{office.number}", show_office_park_equipment_path(office.id)
                %br


      %br

-else
  Пока не создано ни одного филиала для вашей организации.
  %br
  Если у вашей организации нет филиалов, нажмите кнопку
  =link_to "Филиалов не существует", office_park_equipments_path(commit: true , act: "create_branch",
  organization_id: org_id,  short_name: Organization.find(org_id).short_name,
  full_name:  Organization.find(org_id).full_name, senior_phone: Organization.find(org_id).reception_phone,
  address: Organization.find(org_id).address), class: "btn btn-primary", data: { confirm: "Точно нет филиалов?"}
  %br
  Если  в вашей организации присутствуют филиалы, то их можно задать, нажав кнопку
  = link_to "#", class: "btn btn-primary", "data-target" => "#modal_branch", "data-toggle" => "modal" do
    Добавить филиал
%br