= render 'menu'
= render 'shared/modal_office'
= render 'shared/modal_branch'
= render 'shared/modal_department'
-#= render 'shared/modal_department'
Ваша организация:
= set_organization(current_user.id)
%br
.form-control
  =form_for @office, url:office_park_equipments_path, remote: true do |f|
    -#=f.label :number, "Номер кабинета "
    -#=f.text_field :number
    Выберите филиал:
    =f.collection_select :branch, find_branches, :id, :short_name, prompt: true, remote: true, class: "form-control"
    = f.label :dep, "Выберите отдел:", id: "label_dep"
    =f.grouped_collection_select :department, find_branches, :departments, :short_name, :id, :name, include_blank: true
    =link_to "Найти кабинеты", "#", remote: true, class: 'btn btn-success btn-sm', id: "find_office"



- if params[:branch_id].present?
  = params[:branch_id]
  = params[:department_id]

#office_table{:style => "display:none"}

  %strong
    Кабинеты:
    = :department
    = :branch

  -#%table.table.table-bordered
  -#  %tr.info
  -#    %th Название
  -#    %th Этаж
  -#    %th Корпус
  -#  %tbody
  -#    - find_offices(params[:branch_id], params[:department_id]).each do |office|
  -#      %tr
  -#        %td
  -#          = office.number
  -#        %td
  -#          = office.floor
  -#
  -#        %td
  -#          = office.block