= render 'menu'
.well
  = form_tag(search_office_park_equipments_path, method: 'post') do
    .row
      .col-md-5
        = select_tag :branch_id, options_from_collection_for_select(find_branches, "id", "short_name", params[:branch_id]), prompt: "Выберите филиал", class: "form-control"
      .col-md-5
        = select_tag :department_id, options_from_collection_for_select(Department.all, "id", "name", params[:department_id]) , prompt: "Выберите отдел", class: "form-control"

      = hidden_field_tag :org_id, org_id
      .col-md-2

        = submit_tag "Поиск", class: "btn btn-primary",data: { disable_with: "Идет поиск, подождите...".html_safe}

    .row
      .col-md-10
      .col-md-2
        .pull-right
          %br
            = link_to "Расширенный поиск", "#", {"data-target" => "#extra_search_fields", "data-toggle" => "collapse"}

    #extra_search_fields.collapsible.collapse
      %br
      .row
        .col-md-4
          = label_tag :number, "Номер или название кабинета"
          %br
          =text_field_tag :number, params[:number], placeholder: "Наименование кабинета", class: 'form-control'

          %br
        .col-md-4
          = label_tag :floor, 'Этаж'
          %br
          =text_field_tag :floor, params[:floor], placeholder: "Этаж", class: 'form-control'

          %br
        .col-md-4
          = label_tag :block, "Корпус"
          %br
          = text_field_tag :block, params[:block], placeholder: "Корпус", class: "form-control"
          %br
      .row
        .pull-right
          %i
            = link_to "Cбросить поиск", office_park_equipments_path


-if params[:commit].present? and @offices.blank?
  %center
    %h3
      Кабинетов, удовлетворяющих вашему запросу, не нашлось.


-elsif params[:commit].present? and @offices.present?

  %strong
    %h4
      Результаты поиска:   #{@offices.count} каб.
      -if @branch_name.present?
        филиал:
        #{@branch_name.short_name}
      -if @department.present?
        отдел: #{@department.name}
  %p
    .well
      .field_input
        %table.table.table-bordered
          %th.info
            Номер кабинета
            - @offices.each do |office|
              %tr
                %td{style: "width:80%;"}
                  = link_to office.number.html_safe, show_office_park_equipment_path(id: office.id)
